langchain
langchain-community
langgraph
langchain-groq
python-dotenv
pypdf
requests
pinecone
serpapi
google-search-results
typing_extensions
pandas
fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
bcrypt
email-validator
